@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0 0 0 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --nav-color: beige;
    --shadow-clr: #0c1012c7;
    --border: rgba(0, 0, 0, 0.4);
    --bodyclr: #0C1012;
    --color: beige;
    --red: #ff0000;
    --transparent-black: rgba(0, 0, 0, 0.4);
}

body {
    overflow-x: hidden;
    background-color: black;
}

.custom-navbar {
    z-index: 12;
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(15px);
}

.logo img {
    width: 70px;
    margin: 0px 0px 0px 40px;
    position: absolute;
    cursor: pointer;
}

.slide {
    background: url("Images/img1.jpg");
    height: 80vh;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s ease;
    filter: brightness(0.6) blur(4px);
}

.Movie-Poster-Section {
    height: 80vh;
}

    .Movie-Poster-Section:hover .slide {
        filter: none;
    }

.Movie-Details {
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 35%;
    margin-left: 85px;
    line-height: 2;
    color: white;
    z-index: 4;
}

    .Movie-Details h1 {
        font-size: 45px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .Movie-Details #desc {
        margin-top: 15px;
        text-align: justify;
        width: 50%;
    }

#MovCardImg {
    object-fit: cover;
}
/*Section*/
section {
    width: 100%;
    height: 100vh;
}

#bookNowBtn {
    position: absolute;
    top: 68%;
    left: 5%;
    padding: 0px 22px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    backdrop-filter: blur(20px);
    height: 50px;
    border: 1px solid #969292;
    border-radius: 25px;
    transition: .3s ease;
    z-index: 10;
}

    #bookNowBtn:hover {
        transform: scale(1.1);
    }
